<section id="footer" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 >
          LOCATION
        </h4>
        <p>
          2215 John Daniel Drive
          <br>
          Clark, MO 65243
        </p>
      </div>
      <div class="col-md-4">
        <h4 >
          AROUND THE WEB
        </h4>


          <div class="d-flex justify-content-center align-items-center">
            <div class="icon">
              <i class="fab fa-fw fa-facebook-f"></i>
            </div>
            <div  class="icon">
              <i class="fab fa-fw fa-twitter"></i>
            </div>
            <div  class="icon">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </div>
            <div  class="icon">
              <i class="fab fa-fw fa-dribbble"></i>
            </div>

          </div>

      </div>
      <div class="col-md-4">
        <h4>ABOUT FREELANCER
        </h4>
        <p>
          Freelance is a free to use, MIT licensed Bootstrap theme created by .
        </p>
      </div>
    </div>
  </div>

</section>
<div class="py-3 copyRight" >
  <div class="container ">
    <p>Copyright © Your Website 2021</p>
  </div>
</div>
