.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
a{
  color: white;
}
.nav-link:hover{
  color: #1ABC9C;
}
.nav-link{
  font-size: 1rem;
  font-weight: 600;
}
.navbar-toggler {
  background-color: #1ABC9C;
  font-size: .9rem;
  padding: 0.8rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.navbar-toggler:hover{
  background-color: #148F77;
}
.navbar{
  background-color: #2C3E50;
  padding: 1.2rem 0px;
}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .navbar{
    padding: .7rem 0px;
  }
}
