#porto{
color: #2C3E50;

}
.overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
  color: white;

}
.inner:hover > .overlay{
  opacity: 1;
 cursor: pointer;
}
.inner{
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
h2{
  font-size: 3rem;
  font-weight: 600;
}
#display{
  position:fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,.57);
  overflow: hidden;
  z-index: 10000;
  /* overflow-x: hidden;
  overflow-y: auto;
  outline: 0; */

}
.whiteBoard{


  height: 100vh;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

}
p{
  font-size: 1rem;
  padding: 20px;
}
.btn{
  background-color: #1abc9c;
  color: white;
  padding: 10px 15px;
}
.btn:hover{
background-color: #148F77;
}
