<div id="porto" class="container py-5">
  <h2 class="text-center">PORTFOLIO
  </h2>

  <app-decoration bgColor="#2C3E50" ></app-decoration>



  <div class="row">
    <div class="col-md-4 py-4" *ngFor="let number of [1,2,3,4,5,6]"(click)="displayImg(imgg,ls)">
        <div class="inner position-relative" data-toggle="modal" >
          <img [src]="imgPath+number+'.png'" class="img-fluid rounded" alt="" #imgg >
          <div class="position-absolute w-100 h-100 overlay rounded d-flex justify-content-center align-items-center">
            <i class="fa fa-plus fa-6x" aria-hidden="true"></i>
          </div>
        </div>
    </div>

  </div>
</div>

<div id="display" #ls>
  <div class="w-auto my-2 p-sm-5 container bg-white whiteBoard d-flex justify-content-center align-items-center flex-column">
    <h2 class="text-center">PORTFOLIO
    </h2>
    <app-decoration bgColor="#2C3E50" ></app-decoration>

    <img [src]="newSrc" class="w-50 rounded" alt="">
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
    </p>
    <button class="btn" (click)="hideCard(ls)"> X Close Window </button>

  </div>

</div>
